button {
    background-color: orange;
    margin: 10px;
    height: 50px;
    color: white;
}

textfield {
    height: 50px;
    margin: 10px;
}

image {
    margin: 10;
    border-width: 10;
}

.listHeader {
    background-color: #eaeaea;
    color: #767676;
    padding: 10;
    padding-left: 30;
    padding-right: 30;
    font-weight: bold;
}

.listTitle {
    color: #393939;
    font-size: 20px;
    padding-left: 10;
    vertical-align: center;
}

.detailsTitle {
    background-color: #3e4346;
    height: 60px;
    color: #c3c7c8;
    text-align: center;
    padding: 15;
    font-size: 18px;
    font-weight: bold;
}

.detailsDate {
    color: #8d8d8d;
    text-align: center;
    vertical-align: center;
}

.detailsDescription {
    padding: 10;
}

.updateItem {
	margin: 10px;
    padding: 10px;
    background-color: #f3f3f3;
}

.details {
    margin-bottom: 10px;
}

.small {
    font-size: 10;
}

.drawer-content {
    background-color: #ffa500;
    color: white;
    padding-top: 20;
}
.drawer-content Label {
    font-size: 16;
    margin: 10 0 15 25;
}
ActionBar {
    background-color: #ffa500;
    color: white;
}

#app-title {
    font-size: 24;
    text-align: center;
}

#event-name {
    font-size: 20;
    text-align: center;
    margin-top: 10;
    margin-bottom: 10;
}