.drawer-content {
    background-color: #ffa500;
    color: white;
    padding-top: 20;
}
.drawer-content Label {
    font-size: 20;
    margin: 10 0 15 25;
}
ActionBar {
    background-color: #ffa500;
    color: white;
}
ActionBar Label {
    font-size: 20;
}